<section id="view-batch-history" class="margin-top-xlg">
    <div class="container">

        <div class="history-cards">
            <div class="cards">

                <h1 class="margin-top-lg pb-sm medium-title">Batch details History</h1>
                <hr class="dividor margin-bottom-lg">

                <div class="card">

                    <div class="card-head">
                        <div class="info-box">
                            <div class="label">
                                <p>Batch id</p>
                            </div>

                            <div class="value">
                                <p>11111111111111111111111111111111111111111111111</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>User</p>
                            </div>

                            <div class="value">
                                <p>John</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Date issued</p>
                            </div>

                            <div class="value">
                                <p>1st January 2027</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of Code issued</p>
                            </div>

                            <div class="value">
                                <p>10</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of Code used</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of deactivated</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of removed</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Expiry info</p>
                            </div>

                            <div class="value">
                                <p>Does not expiry</p>
                            </div>
                        </div>
                    </div>

                    <hr class="dividor margin-top-lg margin-bottom-lg">


                    <div class="card-body margin-top-lg">
                        <p>Associated codes</p>

                        <div class="table-wrapper">


                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Code id</th>
                                        <th scope="col">Used</th>
                                        <th scope="col">Created at</th>
                                        <th scope="col">Expires in</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12333333333333333333</td>
                                        <td>Yes</td>
                                        <td>1 August 2025</td>
                                        <td>Does expiry</td>
                                    </tr>
                                    <!-- Repeat rows as needed -->
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>

                <div class="card">

                    <div class="card-head">
                        <div class="info-box">
                            <div class="label">
                                <p>Batch id</p>
                            </div>

                            <div class="value">
                                <p>11111111111111111111111111111111111111111111111</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>User</p>
                            </div>

                            <div class="value">
                                <p>John</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Date issued</p>
                            </div>

                            <div class="value">
                                <p>1st January 2027</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of Code issued</p>
                            </div>

                            <div class="value">
                                <p>10</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of Code used</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of deactivated</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of removed</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Expiry info</p>
                            </div>

                            <div class="value">
                                <p>Does not expiry</p>
                            </div>
                        </div>
                    </div>

                    <hr class="dividor margin-top-lg margin-bottom-lg">

                    <div class="card-body margin-top-lg">
                        <p>Associated codes</p>

                        <div class="table-wrapper">


                            <table>
                                <thead>
                                    <tr>
                                        <th scope="col">Code id</th>
                                        <th scope="col">Used</th>
                                        <th scope="col">Created at</th>
                                        <th scope="col">Expires in</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>12333333333333333333</td>
                                        <td>Yes</td>
                                        <td>1 August 2025</td>
                                        <td>Does expiry</td>
                                    </tr>
                                    <!-- Repeat rows as needed -->
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>
</section>

<hr class="dividor margin-top-md margin-bottom-md">