<h1 class="margin-top-lg medium-title">View Generated Codes</h1>
<hr class="dividor">
<section id="generate-code" aria-label="Generated recovery codes" class="margin-top-xlg margin-bottom-xlg padding-md">

    <div class="box-display bg-subtle-gray-with-padding" role="region" aria-labelledby="page-title">
        <p><span><i class="fa-solid fa-circle-info"></i></span> Recovery codes will only be shown once.
            Make sure to copy and save them.</p>



    </div>

    <div class="margin-top-sm bg-warning-with-padding">
        <i class="fa-solid fa-exclamation font-medium-bold"></i> Important: Save Your 2FA Recovery Codes
        <p class="margin-top-sm">
            Your recovery codes are shown and can be downloaded only once. Please save them securely, as
            you will not be able
            to view or receive them again by email or download. If you plan to download or email the
            codes, do not refresh the
            page. Refreshing the page before you email or download the codes will make them
            inaccessible, and you will need to
            generate a new set or access them from memory.
        </p>

        <p class="padding-top-md">
            If you lose your recovery codes, you can generate a new set, but this will invalidate all
            previous codes.
        </p>


    </div>

    <p class="note text-red margin-top-sm bold">
        Recovery codes are generated securely to ensure they are unique and impossible to guess.
        They are stored in a protected format so even our team cannot view them.
    </p>

    <p class="note margin-top-sm">
        Note: The recovery codes are stored as a hash not as an encryption. Encryption can be unlocked
        with a key, but hashing is one-way and cannot be undone, once hashed.
    </p>


    <div class="table-wrapper">


        <table class="margin-top-lg" id="generated-codes-table">
            <thead>
                <tr>
                    <th scope="col">Status</th>
                    <th scope="col">Code</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>
                <tr>
                    <td>Unused</td>
                    <td>987A-CCSSS-9875-125468-14789D</td>
                </tr>

            </tbody>
        </table>

    </div>

    {% if recovery_state.is_generated %}
    <div id="code-actions">
        <div class="buttons flex-grid fourth-column-grid margin-top-lg" id="buttons-container">
            <button class="generate btn-medium padding-sm title bg-green text-white" type="button"
                id="regenerate-code-btn">


                <span span class="loader" id="re-generate-code-loader"></span>
                <span id="regennerate-code-span-text"> <i class="fa-solid fa-code"></i> Regenerate
                    code</span>
            </button>
            <button class="generate btn-medium padding-sm title bg-green text-white" type="button" id="email-code-btn">

                <span span class="loader" id="email-code-loader"></span>
                <span id="email-code-span-text"> <i class="fa-solid fa-envelope"></i> Email code</span>

            </button>
            <button class="generate btn-medium padding-sm title bg-red text-white" type="button"
                id="delete-all-code-btn">
                <span span class="loader" id="delete-all-code-loader"></span>
                <span id="delete-code-span-text">
                    <i class="fa-solid fa-trash"></i>
                    Delete all codes
                </span>

            </button>
            <button class="generate btn-medium padding-sm title bg-blue text-white" type="button"
                id="download-code-btn">
                <span span class="loader" id="download-code-loader"></span>
                <span id="download-code-span-text"> <i class="fa-solid fa-envelope"></i> Download
                    code</span>
            </button>
        </div>

    </div>

    {% endif %}


</section>