{% extends "base.html" %}
{% load static %}


{% block title %} Dashboard {% endblock %}


{% block content %}

{% include "partials/sidebar.html" %}

<section id="recovery-dashboard" class="layou">



  <div class="container width-80">
    {% include "partials/navbar.html" %}

    <h1 id="page-title" class="font-weight-500 title margin-top-sm margin-bottom-sm">2FA Recovery Codes
      Dashboard</h1>


    {% include "partials/security_tips.html" %}

    {% include "partials/generate_codes.html" %}

    {% include "partials/view_codes.html" %}

    {% include "partials/invalidate_or_remove_codes.html" %}

    {% include "partials/view_batch_history.html" %}

    {% include "partials/pagination.html" %}

     {% include "partials/messages.html" %}
     
    {% include "partials/notify.html" %}

    



  </div>
</section>

{% endblock %}


{% block extra_scripts %}

<script src="{% static 'django_recovery_codes/js/dashboard.js' %}" defer type="module"></script>
<script src="{% static 'django_recovery_codes/js/generateTable.js' %}" defer type="module"></script>
<script src="{% static 'django_recovery_codes/js/generateCodeActionButtons.js' %}" defer type="module"></script>
<script src="{% static 'django_recovery_codes/js/generateBatchHistoryCard.js' %}" defer type="module"></script>

{% endblock %}