{% extends "base.html" %}

{% block title  %}Login{% endblock  %}


{% block content  %}
 <nav id="login-navigation" class="two-column-grid">
    <div class="head">
        site name
    </div>
    <div class="body">
        2FA Recovery codes
    </div>
</nav>
<section id="login-user">
    <!-- <div id="login-message" class="center bg-green text-white bold">
        <p>The code is invalid</p>
    </div> -->
    {% include "partials/partial_forms/login_form.html" %}
</section>


<div class="copyright">
    <p class="center title" id="copryright">@copyright 2FA Recovery code backup</p>
</div>

{% endblock  %}
