<!-- pagination -->

{% if is_generated %}
<section id="pagination" class="flex flex-end margin-bottom-xlg margin-top-lg">

    {% if recovery_batches.has_previous %}
         <a href="?page={{ recovery_batches.previous_page_number }}" class="pagination-link">previous</a>
    {% endif %}

    
    <span class="current pagination-link">
        Page {{ recovery_batches.number }} of {{ recovery_batches.paginator.num_pages }}.
    </span>

     {% if recovery_batches.has_next %}
            <a href="?page={{  recovery_batches.next_page_number }}" class="pagination-link">next</a>
    {% endif %}
    

</section>

{% endif %}

