<section id="view-batch-history" class="margin-top-xlg">
    <div class="container">

        <div class="history-cards">
            <div class="cards">

                <h1 class="margin-top-lg pb-sm medium-title">Batch details History</h1>
                <hr class="dividor margin-bottom-lg">

                <div class="card">

                    <div class="card-head">
                        <div class="info-box">
                            <div class="label">
                                <p>Batch id</p>
                            </div>

                            <div class="value">
                                <p>11111111111111111111111111111111111111111111111</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>User</p>
                            </div>

                            <div class="value">
                                <p>John</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Date issued</p>
                            </div>

                            <div class="value">
                                <p>1st January 2027</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of Code issued</p>
                            </div>

                            <div class="value">
                                <p>10</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of Code used</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of deactivated</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of removed</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Expiry info</p>
                            </div>

                            <div class="value">
                                <p>Does not expiry</p>
                            </div>
                        </div>
                    </div>

                    <hr class="dividor margin-top-lg margin-bottom-lg">


            

                </div>

                <div class="card">

                    <div class="card-head">
                        <div class="info-box">
                            <div class="label">
                                <p>Batch id</p>
                            </div>

                            <div class="value">
                                <p>11111111111111111111111111111111111111111111111</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>User</p>
                            </div>

                            <div class="value">
                                <p>John</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Date issued</p>
                            </div>

                            <div class="value">
                                <p>1st January 2027</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of Code issued</p>
                            </div>

                            <div class="value">
                                <p>10</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of Code used</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of deactivated</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Number of removed</p>
                            </div>

                            <div class="value">
                                <p>1</p>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="label">
                                <p>Expiry info</p>
                            </div>

                            <div class="value">
                                <p>Does not expiry</p>
                            </div>
                        </div>
                    </div>

                    <hr class="dividor margin-top-lg margin-bottom-lg">

            

                </div>
            </div>


        </div>

    </div>
</section>

<hr class="dividor margin-top-md margin-bottom-md">